<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Sign Up</title>
</head>
<body>
<div layout:fragment="cus-content">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                  <h3 class="text-success"><a th:href="@{/user/add}">Click to Create Your Account</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>