<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/bootstrap.css" th:href="@{/bootstrap.css}"/>
</head>
<body>
<h1>This is LIST page !!!</h1>
<table class="table">
    <tr>
        <td>ID</td>
        <td>Student Name</td>
    </tr>
    <tr th:each="stu : ${stuList}">
        <td><a th:href="@{'/students/'}+${stu.id}" th:text="${stu.id}"></a></td>
        <td th:text="${stu.name}"></td>
    </tr>
</table>
</body>
</html>