<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>
</head>
<body>
<div th:fragment="sidebar" class="sidebar" data-color="purple" data-background-color="black"
     data-image="/images/sidebar-2.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo"><a href="https://www.facebook.com/hellodhaka16" class="simple-text logo-normal">
        HelloDhaka16
    </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active  ">
                <a class="nav-link" th:href="@{/dash}">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#role" aria-expanded="false" aria-controls="person">
                    <i class="material-icons">person</i>
                    <span class="menu-title">Roles</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="role">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" th:href="@{/role/add}">Add Role</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/role/list}">Role List</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#user" aria-expanded="false" aria-controls="person">
                    <i class="material-icons">person</i>
                    <span class="menu-title">User Profile</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="user">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" th:href="@{/user/add}">Add User</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/user/list}">User List</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/app/list}">Applicant Profile</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#applicant" aria-expanded="false"
                   aria-controls="person">
                    <i class="material-icons">person</i>
                    <span class="menu-title">Applicant</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="applicant">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" th:href="@{/app/add}"> Apply</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/app/list}"> Applicants List</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/app/history}"> Add Job History</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/app/historyList}"> Job History List</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/app/training}"> Add Professional
                            Training</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/app/trainingList}"> Professional Training
                            List</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/skills/add}"> Add Technical Skills</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/skills/list}"> Technical Skills List</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/app/addEx}"> Add Extracurricular
                            Activity</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/app/exList}"> Extracurricular List</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/app/ref}"> Add Reference</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/app/refList}"> Reference List</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/ms/add}"> Add Marital Status</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/rn/add}"> Add Religion</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/bg/add}"> Add Blood Group</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/dr/add}"> Add Degree</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#address" aria-expanded="false" aria-controls="person">
                    <i class="material-icons">person</i>
                    <span class="menu-title">Address</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="address">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" th:href="@{/address}"> Add Address Details</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/addressList}"> Address Details List</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/ctr/add}"> Add Country</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/ctr/list}">Country List</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/division/add}"> Add Division</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/division/list}">Division List</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/dist/add}"> Add District</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/dist/list}">District List</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/city/add}"> Add City</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/city/list}">City List</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#education" aria-expanded="false"
                   aria-controls="person">
                    <i class="material-icons">person</i>
                    <span class="menu-title">Education Details</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="education">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" th:href="@{/edu/add}"> Add Education</a></li>
                        <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link"
                                                                                  th:href="@{/edu/list}">Education
                            List</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/lan/add}"> Add language</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/lan/list}">Language List</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/edu/list/{id}}">Your List</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#job" aria-expanded="false" aria-controls="person">
                    <i class="material-icons">person</i>
                    <span class="menu-title">Job Details</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="job">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" th:href="@{/job/add}">Add Job Type</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/job/list}">Job Type List</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/job/post}">Post a Job</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/job/postList}">Posted Job List</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/job/home}">Job Dashboard</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#company" aria-expanded="false" aria-controls="person">
                    <i class="material-icons">person</i>
                    <span class="menu-title">Company</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="company">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" th:href="@{/com/add}">Add Company</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/com/list}">Company List</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/cat/add}">Add Company Category</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/cat/list}">Category List</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/user}">
                    <i class="material-icons">person</i>
                    <p>User Profile</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/tab}">
                    <i class="material-icons">content_paste</i>
                    <p>Table List</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/chain}">
                    <i class="material-icons">content_paste</i>
                    <p>Chaining</p>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>