<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <title>Student</title>
</head>

<body>
<div layout:fragment="cus-content">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-plain">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title mt-0">List of Results</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover text-center">
                                    <tr>
                                        <th>Teacher</th>
                                        <th>Student Name</th>
                                        <th>Class</th>
                                        <th>Roll</th>
                                        <th>Subject</th>
                                        <th>Marks</th>
                                        <th>Grade</th>
                                        <th>Action</th>
                                    </tr>


                                    <tr th:each="tea : ${listById}">
                                        <td>
                                            <span th:each="ur : ${tea?.teacher?.fullName}">
                                                <span th:text="${ur}"></span>
                                            </span>
                                        </td>
                                        <td>
                                            <span th:each="ur : ${tea?.student?.fullName}">
                                                <span th:text="${ur}"></span>
                                            </span>
                                        </td>
                                        <td>
                                            <span th:each="ur : ${tea?.student?.className}">
                                                <span th:text="${ur}"></span>
                                            </span>
                                        </td>
                                        <td>
                                            <span th:each="ur : ${tea?.student?.roll}">
                                                <span th:text="${ur}"></span>
                                            </span>
                                        </td>
                                        <td th:text="${tea.subject}"></td>
                                        <td th:text="${tea.marks}"></td>
                                        <td th:text="${tea.grade}"></td>
                                        <td>
                                            <span><a th:href="@{'/res/edit/' + ${tea.id}}">Update</a></span>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>

</html>