<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Address</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        // Country to Division
        function showCountry(id) {
            var dropdown = document.getElementById('division-dropdown');
            dropdown.length = 0;

            var defaultOption = document.createElement('option');
            defaultOption.text = 'Select A Division';
            dropdown.add(defaultOption);
            dropdown.selectedIndex = 0;

            var xhttp;

            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(this.responseText);
                    var option;
                    for (var i = 0; i < data.length; i++) {
                        option = document.createElement('option');
                        option.text = data[i].name;
                        option.value = data[i].id;
                        dropdown.add(option);
                    }
                }
            };
            xhttp.open("GET", "/rest/division?id=" + id, true);
            xhttp.send();
        }

        // Division to District
        function showDivision(id) {
            var dropdown = document.getElementById('district-dropdown');
            dropdown.length = 0;

            var defaultOption = document.createElement('option');
            defaultOption.text = 'Select A District';
            dropdown.add(defaultOption);
            dropdown.selectedIndex = 0;

            var xhttp;
            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(this.responseText);
                    var option;
                    for (var i = 0; i < data.length; i++) {
                        option = document.createElement('option');
                        option.text = data[i].name;
                        option.value = data[i].id;
                        dropdown.add(option);
                    }
                }
            };
            xhttp.open("GET", "/rest/district?id=" + id, true);
            xhttp.send();
        }

        // District to City
        function showDistrict(id) {
            var dropdown = document.getElementById('city-dropdown');
            dropdown.length = 0;

            var defaultOption = document.createElement('option');
            defaultOption.text = 'Select A City';
            dropdown.add(defaultOption);
            dropdown.selectedIndex = 0;

            var xhttp;
            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(this.responseText);
                    var option;
                    for (var i = 0; i < data.length; i++) {
                        option = document.createElement('option');
                        option.text = data[i].name;
                        option.value = data[i].id;
                        dropdown.add(option);
                    }
                }
            };
            xhttp.open("GET", "/rest/city?id=" + id, true);
            xhttp.send();
        }
    </script>
</head>
<body>
<div class="content-wrapper" layout:fragment="custom-content">
    <h2>Add Address Details</h2>
    <form th:object="${address}" th:action="@{/address}" th:method="post">


        <label>Address Type</label>
        <input type="text" required th:field="*{addressType}">
        <label>Village</label>
        <input type="text" required th:field="*{village}">

        <label>Select a City</label>
        <select th:field="*{city}">
            <option th:each="c : ${cityList}" th:value="${c.id}">
                <span th:text="${c.name}"></span>
            </option>
        </select>

        <label>Postcode</label>
        <input type="number" required th:field="*{postcode}">

        <button type="submit">Save</button>
    </form>
</div>


</body>

</html>

