<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Address</title>

</head>
<body>
<div class="content-wrapper" layout:fragment="custom-content">
    <h2>Add Address</h2>
    <form th:object="${address}" th:action="@{/address}" th:method="post">

        <label>Address Type</label>
        <input type="text" required th:field="*{addressType}">
        <label>Village</label>
        <input type="text" required th:field="*{village}">

        <label>Select City</label>
        <select th:field="*{city}">
            <option th:each="c : ${cityList}" th:value="${c.id}">
                <span th:text="${c.name}"></span>
            </option>
        </select>

        <label>Postcode</label>
        <input type="number" required th:field="*{postcode}">

        <button type="submit">Save</button>
    </form>
</div>


</body>

</html>

