<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>District</title>
</head>
<body>
<div class="content-wrapper" layout:fragment="custom-content">
    <h2>Add District..........!</h2>
    <span th:text="${sucMsg}" style="color: green"></span>
    <form th:object="${district}" th:action="@{/dist/add}" th:method="post">
        <label>Select A Division: </label>
        <select th:field="*{division}">
            <option th:each="dv : ${list}" th:value="${dv.id}">
                <span th:text="${dv.name}"></span>
            </option>
        </select>
        <label>Add District: </label>
        <input type="text" required th:field="*{name}">
        <button type="submit">Save</button>
    </form>
</div>
</body>

</html>

