<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Left Bar</title>
</head>
<body>
<nav th:fragment="leftnav" class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/index.html}">
                <i class="ti-shield menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#role" aria-expanded="false" aria-controls="role">
                <i class="ti-palette menu-icon"></i>
                <span class="menu-title">Roles</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="role">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" th:href="@{/role/add}"> Add Role</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/role/list}">List</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#user" aria-expanded="false" aria-controls="user">
                <i class="ti-palette menu-icon"></i>
                <span class="menu-title">Users</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="user">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" th:href="@{/user/add}"> Add User</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/user/list}">List</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#maritalStatus" aria-expanded="false"
               aria-controls="maritalStatus">
                <i class="ti-palette menu-icon"></i>
                <span class="menu-title">Marital Status</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="maritalStatus">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" th:href="@{/ms/add}"> Add Marital Status</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/ms/list}">List</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#religion" aria-expanded="false"
               aria-controls="religion">
                <i class="ti-palette menu-icon"></i>
                <span class="menu-title">Religion</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="religion">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" th:href="@{/rn/add}"> Add Religion</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/rn/list}">List</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#bloodGroup" aria-expanded="false"
               aria-controls="bloodGroup">
                <i class="ti-palette menu-icon"></i>
                <span class="menu-title">Blood Group</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="bloodGroup">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" th:href="@{/bg/add}"> Add Blood Group</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/bg/list}">List</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#degree" aria-expanded="false"
               aria-controls="degree">
                <i class="ti-palette menu-icon"></i>
                <span class="menu-title">Degree</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="degree">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" th:href="@{/dr/add}"> Add Degree</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/dr/list}">List</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#country" aria-expanded="false"
               aria-controls="country">
                <i class="ti-palette menu-icon"></i>
                <span class="menu-title">Country</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="country">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" th:href="@{/ctr/add}"> Add Country</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/ctr/list}">List</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>
</body>
</html>