<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Left Bar</title>
</head>
<body>
<nav th:fragment="leftnav" class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/index.html}">
                <i class="ti-shield menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#role" aria-expanded="false" aria-controls="role">
                <i class="ti-palette menu-icon"></i>
                <span class="menu-title">Roles</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="role">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" th:href="@{/role/add}"> Add Role</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/role/list}">List</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#user" aria-expanded="false" aria-controls="user">
                <i class="ti-palette menu-icon"></i>
                <span class="menu-title">Users</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="user">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" th:href="@{/user/add}"> Add User</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/user/list}">List</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#applicant" aria-expanded="false"
               aria-controls="applicant">
                <i class="ti-palette menu-icon"></i>
                <span class="menu-title">Applicants</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="applicant">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" th:href="@{/app/add}"> Add Applicants</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/app/list}"> Applicants List</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/app/history}"> Add Job History</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/app/historyList}"> Job History List</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/app/training}"> Add Professional Training</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/app/trainingList}"> Professional Training List</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/app/ref}"> Add Reference</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/app/refList}"> Reference List</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/ms/add}"> Add Marital Status</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/rn/add}"> Add Religion</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/bg/add}"> Add Blood Group</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/dr/add}"> Add Degree</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#address" aria-expanded="false"
               aria-controls="address">
                <i class="ti-palette menu-icon"></i>
                <span class="menu-title">Address</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="address">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" th:href="@{/address}"> Add Address Details</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/addressList}"> Address Details List</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/ctr/add}"> Add Country</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/ctr/list}">Country List</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/division/add}"> Add Division</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/division/list}">Division List</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/dist/add}"> Add District</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/dist/list}">District List</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/city/add}"> Add City</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/city/list}">City List</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#education" aria-expanded="false"
               aria-controls="education">
                <i class="ti-palette menu-icon"></i>
                <span class="menu-title">Education Details</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="education">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" th:href="@{/edu/add}"> Add Education</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/edu/list}">Education List</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/lan/add}"> Add language</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/lan/list}">Language List</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#jobs" aria-expanded="false"
               aria-controls="jobs">
                <i class="ti-palette menu-icon"></i>
                <span class="menu-title">Job Details</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="jobs">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" th:href="@{/job/add}">Add Job Type</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/job/list}">Job Type List</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/job/post}">Post a Job</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/job/postList}">Posted Job List</a></li>

                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#company" aria-expanded="false"
               aria-controls="company">
                <i class="ti-palette menu-icon"></i>
                <span class="menu-title">Company</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="company">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" th:href="@{/com/add}">Add Company</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/com/list}">Company List</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/cat/add}">Add Company Category</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/cat/list}">Category List</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#chain" aria-expanded="false"
               aria-controls="chain">
                <i class="ti-palette menu-icon"></i>
                <span class="menu-title">Chaining</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="chain">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" th:href="@{/chain}">Chaining Test</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>
</body>
</html>