<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<!-- Navbar -->
<nav th:fragment="topnav" class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top "
     id="navigation-example">
    <div class="container-fluid">
        <div class="navbar-nav collapse navbar-collapse justify-content-center">
            <li><a class="navbar-brand" href="javascript:void(0)">About</a></li>
            <li><a class="navbar-brand" href="javascript:void(0)">Administration</a></li>
            <li><a class="navbar-brand" href="javascript:void(0)">Academic</a></li>
            <li><a class="navbar-brand" href="javascript:void(0)">Gallery</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
                <ul class="dropdown-menu">
                    <li sec:authorize="isAuthenticated()"><a class="text-success" href="#"><span th:text="${global?.username}"></span></a></li>
                    <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Sign In</a></li>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Sign Out</a></li>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/user/listById}">Account Settings</a></li>
                </ul>
            </li>
        </div>
    </div>
</nav>
<!-- End Navbar -->
</body>
</html>