<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Job Type</title>
</head>
<body>
<div class="content-wrapper" layout:fragment="custom-content">
    <h2>Add Job Type..........!</h2>
    <form th:object="${jobType}" th:action="@{/job/add}" th:method="post">
        <input type="text" required th:field="*{type}">
        <button type="submit">Save</button>
    </form>
</div>
</body>

</html>

