<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <title>User</title>
</head>

<body>
<div layout:fragment="cus-content">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Profile</h4>
                            <p class="card-category">Create Your User Profile</p>
                        </div>
                        <div class="card-body">
                            <form th:object="${user}" th:action="@{/user/add}" th:method="POST"
                                  enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Username</label>
                                            <input type="text" class="form-control" th:field="*{username}">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Mobile</label>
                                            <input type="text" class="form-control" th:field="*{mobile}">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Email address</label>
                                            <input type="email" class="form-control" th:field="*{email}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Fist Name</label>
                                            <input type="text" class="form-control" th:field="*{firstName}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Last Name</label>
                                            <input type="text" class="form-control" th:field="*{lastName}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Father's Name</label>
                                            <input type="text" class="form-control" th:field="*{fatherName}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Mother's Name</label>
                                            <input type="text" class="form-control" th:field="*{motherName}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Gender</label>
                                            <input type="radio" th:field="*{gender}" th:value="Male"><label>Male</label>
                                            <input type="radio" th:field="*{gender}"
                                                   th:value="Female"><label>Female</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Birth Date</label>
                                            <input type="date" class="form-control" th:field="*{birthDate}">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">NID No</label>
                                            <input type="text" class="form-control" th:field="*{nid}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select class="form-control" th:field="*{roles}" multiple>
                                                <option th:each="role : ${roleList}" th:value="${role.id}">
                                                    <span th:text="${role.roleName}"></span>
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Password</label>
                                            <input type="text" class="form-control" th:field="*{password}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding: 10px">
                                    <label style="padding-right: 5px">Upload Photo</label>
                                    <input type="file" name="file">
                                </div>
                                <button type="submit" class="btn btn-primary pull-right">Submit</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>