<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add User</title>
</head>
<body>
<div class="content-wrapper" layout:fragment="custom-content">
    <div class="row">
        <span th:text="${sucMsg}" style="color: green"></span>
        <form th:object="${}" th:action="@{/user/add}" th:method="POST" enctype="multipart/form-data">
            <table class="table-hover">
                <tr>
                    <td>Username:</td>
                    <td><input type="text" required th:field="*{name}"></td>
                </tr>
                <tr>
                    <td>Gender:</td>
                    <td><input type="radio" required th:field="*{gender}" th:value="Male">Male
                        <input type="radio" required th:field="*{gender}" th:value="Female">Female
                    </td>
                </tr>
                <tr>
                    <td>NID No:</td>
                    <td><input type="text" required th:field="*{age}"></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" required th:field="*{email}"></td>
                </tr>
                <tr>
                    <td>Upload Photo:</td>
                    <td><input type="file" required name="file"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit">Add User</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>

