<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Apply</title>
</head>
<body>
<div class="content-wrapper" layout:fragment="custom-content">
    <h2>Add Applicant..........!</h2>
    <form th:object="${applicant}" th:action="@{/app/add}" th:method="post">
        <table class="table-hover">
            <tr>
                <td>Company</td>
                <td>
                    <select th:field="*{company}">
                        <option th:each="c : ${comList}" th:value="${c.id}">
                            <span th:text="${c.companyName}"></span>
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Available Circular</td>
                <td>
                    <select th:field="*{jobPosting}">
                        <option th:each="j : ${postList}" th:value="${j.id}">
                            <span th:text="${j.position}"></span>
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit">Apply</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>

</html>

