<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Language Details</title>
</head>
<body>
<div class="content-wrapper" layout:fragment="custom-content">
    <h2>Add Extracurricular Activities..........!</h2>
    <span th:text="${sucMsg}" style="color: green"></span>
    <form th:object="${extraActivity}" th:action="@{/app/addEx}" th:method="post">
        <table class="table-hover">
            <tr>
                <td>Applicant Name</td>
                <td>
                    <select th:field="*{applicant}">
                        <option th:each="u : ${applicantList}" th:value="${u.id}">
                            <span th:text="${u.user.userName}"></span>
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Extracurricular Activities</td>
                <td><textarea th:field="*{name}"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit">Add Activity</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>

</html>

