<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Job History</title>
</head>
<body>
<div class="content-wrapper" layout:fragment="custom-content">
    <h2>Add Job History..........!</h2>
    <form th:object="${jobHistory}" th:action="@{/app/history/edit/} + ${id}" th:method="post">
        <table class="table-hover">
            <tr>
                <td>Designation</td>
                <td><input type="text" required th:field="*{designation}"></td>
            </tr>
            <tr>
                <td>Company</td>
                <td><input type="text" required th:field="*{company}"></td>
            </tr>
            <tr>
                <td>Company Address</td>
                <td><input type="text" required th:field="*{location}"></td>
            </tr>
            <tr>
                <td>Duration</td>
                <td><input type="text" required th:field="*{duration}"></td>
            </tr>
            <tr>
                <td>Department</td>
                <td><input type="text" required th:field="*{department}"></td>
            </tr>
            <tr>
                <td>Supervisor Details</td>
                <td><textarea type="text" required th:field="*{supervisorDetails}"></textarea></td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <button type="submit">Update</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>

</html>

