<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" id="bootstrap-css" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">

    <title>Job Dashboard</title>
    <style>
        .card {
            margin-bottom: auto;
        }

        .icon-action {
            margin-top: 5px;
            float: right;
            font-size: 80%;
        }

        .list-group-item .title {
            margin-top: 5px;
            margin-bottom: 5px;
            font-weight: 500;
        }
    </style>
</head>
<body>
<div class="content-wrapper" layout:fragment="custom-content">
    <div class="row" style="margin-bottom: 15px" th:each="jp : ${list}">

        <div class="col-md-3 text-center">
            <div class="card text-white bg-dark border-danger mb-3" style="width: 13rem;">
                <header class="card-header">
                    <a href="#" data-toggle="collapse" th:attr="data-target='#collapse11'+${jp.id}"
                       aria-expanded="false" class="">
                        <i class="icon-action fa fa-angle-down"></i>
                        <span class="title"><span th:text="${jp.position}"></span> </span>
                    </a>
                </header>
                <div class="collapse show" th:id="collapse11 + ${jp.id}" style="">
                    <article class="card-body">
                        Vacancy: <span th:text="${jp.vacancy} "></span>
                    </article>
                    <article class="card-body">
                        Experience: <span th:text="${jp.experience}"></span>
                    </article>
                </div>
                <footer>
                    <article class="card-footer text-success">
                        <span th:text="${jp?.company?.companyName}"></span>
                    </article>
                </footer>
            </div>
        </div>

        <div class="col-md-3 text-center">
            <div class="card text-white bg-dark border-danger mb-3" style="width: 13rem;">
                <header class="card-header text-center">
                    <a href="#" data-toggle="collapse" th:attr="data-target='#collapse22'+${jp.id}"
                       aria-expanded="false" class="">
                        <i class="icon-action fa fa-angle-down"></i>
                        <span class="title"><span th:text="${jp.position}"></span> </span>
                    </a>
                </header>
                <div class="collapse show" th:id="collapse22 + ${jp.id}" style="">
                    <article class="card-body">
                        Vacancy: <span th:text="${jp.vacancy} "></span>
                    </article>
                    <article class="card-body">
                        Experience: <span th:text="${jp.experience}"></span>
                    </article>
                </div>
                <footer>
                    <article class="card-footer text-success">
                        <span th:text="${jp?.company?.companyName}"></span>
                    </article>
                </footer>
            </div>
        </div>

        <div class="col-md-3 text-center">
            <div class="card text-white bg-dark border-danger mb-3" style="width: 13rem;">
                <header class="card-header text-center">
                    <a href="#" data-toggle="collapse" th:attr="data-target='#collapse33'+${jp.id}"
                       aria-expanded="false" class="">
                        <i class="icon-action fa fa-angle-down"></i>
                        <span class="title"><span th:text="${jp.position}"></span> </span>
                    </a>
                </header>
                <div class="collapse show" th:id="collapse33 + ${jp.id}" style="">
                    <article class="card-body">
                        Vacancy: <span th:text="${jp.vacancy} "></span>
                    </article>
                    <article class="card-body">
                        Experience: <span th:text="${jp.experience}"></span>
                    </article>
                </div>
                <footer>
                    <article class="card-footer text-success">
                        <span th:text="${jp?.company?.companyName}"></span>
                    </article>
                </footer>
            </div>
        </div>

        <div class="col-md-3 text-center">
            <div class="card text-white bg-dark border-danger mb-3" style="width: 13rem;">
                <header class="card-header text-center">
                    <a href="#" data-toggle="collapse" th:attr="data-target='#collapse44'+${jp.id}"
                       aria-expanded="false" class="">
                        <i class="icon-action fa fa-angle-down"></i>
                        <span class="title"><span th:text="${jp.position}"></span> </span>
                    </a>
                </header>
                <div class="collapse show" th:id="collapse44 + ${jp.id}" style="">
                    <article class="card-body">
                        Vacancy: <span th:text="${jp.vacancy} "></span>
                    </article>
                    <article class="card-body">
                        Experience: <span th:text="${jp.experience}"></span>
                    </article>
                </div>
                <footer>
                    <article class="card-footer text-success">
                        <span th:text="${jp?.company?.companyName}"></span>
                    </article>
                </footer>
            </div>
        </div>
    </div>
</div>
</body>

</html>