<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blood Group</title>
    </head>
<body>
<div class="content-wrapper" layout:fragment="custom-content">
    <h2>Add Blood Group..........!</h2>
    <span th:text="${sucMsg}" style="color: green"></span>
    <form th:object="${bloodGroup}" th:action="@{/bg/add}" th:method="post">
        <label>Select a User</label>
        <select th:field="*{applicant}">
            <option th:each="ap : ${applicantList}" th:value="${ap.id}">
                <span th:text="${ap?.user?.userName}"></span>
            </option>
        </select>
        <label>Type Your Blood Group</label>
        <input type="text" th:field="*{groupName}" required>
        <button type="submit">Save</button>
    </form>
</div>
</body>

</html>

