<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Index</title>
</head>
<body>
<div layout:fragment="cus-content">
    <h1>This is index Page</h1>
    <h2>Add Role..........!</h2>
        <span th:text="${sucMsg}" style="color: green"></span>
        <form th:object="${role}" th:action="@{/role/add}" th:method="post">
            <input type="text" required th:field="*{roleName}">
            <button type="submit">Save</button>
        </form>
</div>
</div>
</body>
</html>
