<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add User</title>
    </head>
<body>
<div class="content-wrapper" layout:fragment="custom-content">
    <h2>Add User..........!</h2>
    <span th:text="${sucMsg}" style="color: green"></span>
    <form th:object="${user}" th:action="@{/user/add}" th:method="post">
        <label>Username: </label>
        <input type="text" required th:field="*{userName}">
        <label>First Name: </label>
        <input type="text" required th:field="*{firstName}">
        <label>Last Name: </label>
        <input type="text" required th:field="*{lastName}"><br/>
        <label>Father's Name: </label>
        <input type="text" required th:field="*{fatherName}">
        <label>Mother's Name: </label>
        <input type="text" required th:field="*{motherName}"><br/>
        <label>Gender: </label>
        <input type="radio" required th:field="*{gender}" th:value="Male">Male
        <input type="radio" required th:field="*{gender}" th:value="Female">Female
        <label>Birth Date: </label>
        <input type="date" required th:field="*{birthDate}">
        <label>NID No: </label>
        <input type="text" required th:field="*{nid}"><br/>
        <label>Marital Status: </label>
        <input type="text" required th:field="*{maritalStatus}">
        <label>Religion: </label>
        <input type="text" required th:field="*{religion}"><br/>
        <label>Email: </label>
        <input type="text" required th:field="*{email}">
        <label>Mobile: </label>
        <input type="text" required th:field="*{mobile}"><br/>
        <label>Password: </label>
        <input type="text" required th:field="*{password}"><br/>
        <label>Assigned Role: </label>
        <select th:field="*{roles}">
        <option th:each="role : ${roleList}" th:value="${role.id}">
            <span th:text="${role.roleName}"></span>
        </option>
        </select><br/>
        <label>Upload Photo: </label>
        <input type="file" required name="photo">

        <button type="submit">Save</button>
    </form>
</div>
</body>

</html>

