<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User List</title>
    <style>
        .table {
            text-align: center;
        }

        th {
            color: blue;
        }
    </style>
</head>
<body>
<div class="content-wrapper" layout:fragment="custom-content">
    <h1>Existing Users</h1>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Father's Name</th>
            <th>Mother's Name</th>
            <th>Gender</th>
            <th>Birth Date</th>
            <th>Nid</th>
            <th>Marital Status</th>
            <th>Religion</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Password</th>
            <th>Role</th>
            <th>Photo</th>

        </tr>
        <tr th:each="s : ${list}">
            <td th:text="${s.id}"></td>
            <td th:text="${s.userName}"></td>
            <td th:text="${s.firstName}"></td>
            <td th:text="${s.lastName}"></td>
            <td th:text="${s.fatherName}"></td>
            <td th:text="${s.motherName}"></td>
            <td th:text="${s.gender}"></td>
            <td th:text="${s.birthDate}"></td>
            <td th:text="${s.nid}"></td>
            <td th:text="${s.maritalStatus}"></td>
            <td th:each="rn : ${religionList}" th:value="${rn.id}">
                <span th:text="${rn.religionName}"></span>
            </td>
            <td th:text="${s.email}"></td>
            <td th:text="${s.mobile}"></td>
            <td th:text="${s.password}"></td>
            <td th:each="r : ${roleList}" th:value="${r.id}">
                <span th:text="${r.roleName}"></span>
            </td>
            <td th:text="${s.photo}"></td>
        </tr>
    </table>
</div>
</body>

</html>

