<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User List</title>
    <style>
        .table {
            text-align: center;
        }
        th{
            color: blue;
        }
    </style>
</head>
<body>
<div class="content-wrapper" layout:fragment="custom-content">
    <h1>Existing Users</h1>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Role</th>
        </tr>
        <tr th:each="r : ${list}">
            <td th:text="${r.id}"></td>
            <td th:text="${r.roleName}"></td>
        </tr>
    </table>
</div>
</body>

</html>

