<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Language Details</title>
    <style>
        .table {
            width: auto;
            height: auto;
            text-align: center;
        }

        th {
            color: blue;
        }
    </style>
</head>
<body>
<div class="content-wrapper" layout:fragment="custom-content">
    <h1>Language Details of the User</h1>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Language</th>
            <th>Reading</th>
            <th>Writing</th>
            <th>Speaking</th>
        </tr>

        <tr th:each="lan : ${list}">
            <td th:text="${lan.id}"></td>
            <td>
                <span th:each="u: ${lan.user.userName}">
                    <span th:text="${u}"></span>
                </span>
            </td>
            <td th:text="${lan.name}"></td>
            <td th:text="${lan.reading}"></td>
            <td th:text="${lan.writing}"></td>
            <td th:text="${lan.speaking}"></td>
        </tr>
    </table>
</div>
</body>

</html>

