<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add Student</h1>
<span style="color:red;" th:text="${errMsg}"></span>
<span style="color:green;" th:text="${successMsg}"></span>
<form th:object="${student}" th:action="@{/student}" , th:method="POST">
    <input type="text" th:field="*{name}">
    <input type="email" th:field="*{email}">
    <select th:field="*{department}">
        <option th:each="dep : ${deplist}" th:value="${dep.id}"><span th:text="${dep.name}"></span></option>
    </select>
    <select th:field="*{country}">
        <option th:each="ct : ${countrylist}" th:value="${ct.id}"><span th:text="${ct.name}"></span></option>
    </select>
    <button type="submit">Save</button>
</form>

<hr/>
<h1>Student List</h1>
<table style="width: 100%; background: aquamarine">
    <tr>
        <th style="font-size: 25px; font-weight: bold">ID</th>
        <th style="font-size: 25px; font-weight: bold">Student Name</th>
        <th style="font-size: 25px; font-weight: bold">Student Email</th>
        <th style="font-size: 25px; font-weight: bold">Department</th>
        <th style="font-size: 25px; font-weight: bold">Country</th>
    </tr>
    <tr th:each="s : ${list}">
        <td th:text="${s.id}" style="text-align: center"></td>
        <td th:text="${s.name}" style="text-align: center"></td>
        <td th:text="${s.email}" style="text-align: center"></td>
        <td th:text="${s.department.name}" style="text-align: center"></td>
        <td th:text="${s.country.name}" style="text-align: center"></td>
    </tr>
</table>

</body>
</html>