<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Student Information Details</h1>
<form th:action="@{/pro}" , th:method="GET">
    <select name="stuId">
        <option th:each="s : ${slist}" th:value="${s.id}">
            <span th:text="${s.name}"></span>
        </option>
    </select>
    <button type="submit">Submit</button>
</form>

<h1>Profile of <span th:text="${student.name}"></span></h1>
<table style="width: 100%; background: aquamarine">
    <tr>
        <th style="font-size: 25px; font-weight: bold">ID</th>
        <th style="font-size: 25px; font-weight: bold">Name</th>
        <th style="font-size: 25px; font-weight: bold">Age</th>
        <th style="font-size: 25px; font-weight: bold">Gender</th>
        <th style="font-size: 25px; font-weight: bold">Email</th>
        <th style="font-size: 25px; font-weight: bold">Department</th>
        <th style="font-size: 25px; font-weight: bold">Country</th>
    </tr>
    <tr>
        <td th:text="${student.id}" style="text-align: center"></td>
        <td th:text="${student.name}" style="text-align: center"></td>
        <td th:text="${student.age}" style="text-align: center"></td>
        <td th:text="${student.gender}" style="text-align: center"></td>
        <td th:text="${student.email}" style="text-align: center"></td>
        <td th:text="${student.department.name}" style="text-align: center"></td>
        <td th:text="${student.country.name}" style="text-align: center"></td>
    </tr>
</table>

</body>
</html>