<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <title>Admin</title>
</head>

<body>
<div layout:fragment="cus-content">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Admin's Profile</h4>
                            <p class="card-category">Update Admin Information</p>
                        </div>
                        <div class="card-body">
                            <form th:object="${admin}" th:action="@{/adm/edit/}+${id}" th:method="POST"
                                  enctype="multipart/form-data">

                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Full Name</label>
                                            <input type="text" class="form-control" th:field="*{fullName}">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Email</label>
                                            <input type="text" class="form-control" th:field="*{email}">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Mobile</label>
                                            <input type="text" class="form-control" th:field="*{mobile}">
                                        </div>
                                    </div>

                                </div>


                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-control">
                                            <label style="padding-right: 15px; padding-bottom: 5px; font-size: 15px">Gender</label>
                                            <input type="radio" th:field="*{gender}" th:value="Male">Male
                                            <input type="radio" th:field="*{gender}" th:value="Female">Female
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-control">
                                            <labe style="padding-right: 15px; padding-bottom: 5px; font-size: 15px">Upload Photo</labe>
                                            <input type="file" name="file">
                                        </div>
                                    </div>

                                </div>

                                <button type="submit" class="btn btn-primary pull-right">Update Info</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>